#timeline {
	position:absolute;
	left:0;
	z-index:1;
	background:#eee;
	width:100%;
	height:80px;
	@include box-shadow(0px -3px 7px rgba(0,0,0,0.2));
	padding:0 30px;
}

.timeline-item {
	height:80px;
	width:175px;
	margin: 0;
	position:relative;
	background:#eee;
	&.is-selected {
		background:#ddd;
	}
	&:hover, &.is-nav-selected {
		background:#ccc;
	}
	&:hover {
		.timeline-item-metro-dot {
			background:$azul;
			border-color:$azul;
		}
	}
	&:first-child {
		.timeline-item-metro-linea {
			width:50%;
		}
		.timeline-item-metro {
			left:50%;
		}
		.timeline-item-metro-dot {
			left:0;
		}
	}
	&:last-child .timeline-item-metro-linea {
		width:50%;
	}
}

.timeline-item-text {
	position:absolute;
	height:40%;
	width:100%;
	span {
		position:absolute;
		display:block;
		bottom:0;
		left:0;
		width:100%;
		@include adjust-font-size-to($h5-font-size, 0.4);
		font-family:$fuente-titular;
		font-weight:bold;
		text-transform:uppercase;
		text-align:center;
	}
	small {
		@include adjust-font-size-to($h6-font-size, 0.4);
		font-weight:normal;
		display:block;
	}
}

.timeline-item-metro {
	position:absolute;
	width:101%;
	bottom:25%;
	left:0;
}

.timeline-item-metro-linea {
	width:100%;
	height:6px;
	background:$azul;
	//border-top:2px solid $blanco;
	//border-bottom:2px solid $blanco;
	position:relative;
	z-index:5;
}

.timeline-item-metro-dot {
	position:absolute;
	top:-3px;
	left:50%;
	@include transform(translateX(-50%));
	display:block;
	width:12px;
	height:12px;
	background:$blanco;
	border:2px solid $azul;
	@include border-radius(50%);
	z-index:6;
	@include transition(all 0.5s ease-in-out);
}

.gallery {
	width:100%;
}