#timeline {
	position:absolute;
	top:45%;
	height:5%;
	z-index:1;
	background:#fff;
	width:100%;
	ul {
		margin:0;
		padding:0;
		text-align:center;
		li {
			list-style-type:none;
			display:inline-block;
		}
	}
}